.keyboard {
    width: 750px;
    height: auto;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.key {
    height: 50px;
    min-width: 50px;
    border-radius: 4px;
}